.BlogHeadBorder {
  box-sizing: border-box;
  border-left: 0.5rem solid royalblue;
  height: 5rem;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
}
.BlogHeadBorder h3 {
  margin-left: 1.25rem;
  padding-right: 15rem;
}

@media screen and (max-width: 1075px) {
  .BlogHeadBorder h3 {
    margin-left: 1.25rem;
    padding-right: 6rem;
  }
}
@media screen and (min-width: 280px) and (max-width: 694px){
  .BlogHeadBorder h3 {
    margin-left: 1rem;
    padding-right: 1rem;
  }
}